.h1{
    font-size: 2rem;
    text-align: center;
    font-family:$tipografia-resaltar;
   }
   .colorgold{
    color: map-get($mapa-colores, color-gold )
   } 

   .titulos{color: map-get($mapa-colores,color-gold);}
   .parrafos{color: map-get($mapa-colores,color-parrafo );}
   

   .remarcar{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
