$tipografia-parrafos:'Open Sans', sans-serif ;
$tipografia-titulos:'Montserrat', sans-serif;
$tipografia-resaltar:'Open Sans', sans-serif;
$tipografia-subtitulos:'Montserrat', sans-serif;

$fuente-titulos:2.5rem solid;
$fuente-parrafos:1rem;
$fuente-resaltar:1.8rem solid;
$fuente-subtitulos:2rem solid;

$mapa-colores:(
    color-fondo:#0a0a0af8,
    color-gold: #D4AF37,
    color-parrafo: #E0E0E0,
    color-negro: #070707fe,
    color-footer: rgb(22, 21, 21),
    color-hover: #000000, 
    color-focus: #ffd900ad,
)


